.content-header a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #CFB87C; }

.content-header a:hover {
  text-decoration-color: steelblue; }

.education-grid-row {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; }

.education-content-left {
  float: left;
  min-width: 70%;
  padding: 16px; }

.education-imgs-right {
  min-width: 50%;
  display: flex; }

.image a {
  color: black; }

.image a:hover {
  color: steelblue; }

.imgs-col {
  margin-left: auto;
  margin-right: auto; }

.img-card {
  -webkit-transition: .5s;
  /* Chrome */
  transition: .5s;
  /* CSS3 */
  -moz-transitions: .5s;
  /* Firefox */
  -o-transitions: .5s;
  /* Opera */
  -ms-tansistions: .5s;
  /* IE */
  border: 4px solid steelblue;
  position: relative;
  margin: 8px; }

.img-card-header {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: #C0C0C0;
  color: #181818;
  opacity: .8;
  text-align: center;
  -webkit-transition: .5s;
  /* Chrome */
  transition: .5s;
  /* CSS3 */
  -moz-transitions: .5s;
  /* Firefox */
  -o-transitions: .5s;
  /* Opera */
  -ms-tansistions: .5s;
  /* IE */ }

.img-card-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  margin: 0;
  -webkit-transition: .5s;
  /* Chrome */
  transition: .5s;
  /* CSS3 */
  -moz-transitions: .5s;
  /* Firefox */
  -o-transitions: .5s;
  /* Opera */
  -ms-tansistions: .5s;
  /* IE */
  background-color: black; }

.img-card-overlay-text {
  color: white;
  font-size: 80%;
  position: absolute;
  top: 5%;
  padding: 5px;
  text-align: left; }

.img-card-overlay:hover {
  opacity: .85; }

.img-card-header:hover {
  opacity: 0; }

.img-card-background {
  object-fit: cover;
  width: 100%;
  height: 100%;
  display: block; }
