.content-header a {
  color: black;
  text-decoration: underline;
  text-decoration-color: #CFB87C; }

.content-header a:hover {
  text-decoration-color: steelblue; }

.education-grid-row {
  display: flex;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em; }

.education-content-left {
  float: left;
  min-width: 60%;
  padding: 16px; }

.education-imgs-right {
  display: flex; }

.image a {
  color: black; }

.image a:hover {
  color: steelblue; }

@media (min-width: 320px) and (max-width: 767px) {
  .left-content {
    text-align: left; }
    .left-content .content-header {
      font-size: 1.3em; }
  .education-imgs-right {
    display: block; } }
