.password-reset-form-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-image 1s ease 0s; }
  .password-reset-form-container .password-reset-wrapper {
    max-height: 100%; }
    .password-reset-form-container .password-reset-wrapper .password-reset-form {
      width: 50%;
      background: lightgray;
      margin: 0 auto;
      padding: 1%;
      border-radius: 10px; }
      .password-reset-form-container .password-reset-wrapper .password-reset-form .forgot-btn {
        display: flex;
        justify-content: flex-end; }
      .password-reset-form-container .password-reset-wrapper .password-reset-form .error-msg {
        color: red; }
