.side-drawer {
  height: 100%;
  background-color: black;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 75%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%); }
  .side-drawer .drawer-header {
    width: 100%;
    padding-top: 20px;
    position: absolute;
    display: flex;
    justify-content: center; }
    .side-drawer .drawer-header .drawer-header-wrapper {
      display: flex;
      flex-direction: column; }
      .side-drawer .drawer-header .drawer-header-wrapper img {
        width: 15%;
        align-self: center; }
      .side-drawer .drawer-header .drawer-header-wrapper p {
        text-align: center;
        color: #FFF;
        font-size: 15px; }

.side-drawer.open {
  transform: translateX(0);
  background-color: black;
  width: 80%; }
  .side-drawer.open .drawer-header {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    animation: left_to_right 4s ease; }
    .side-drawer.open .drawer-header .drawer-header-wrapper {
      display: flex;
      flex-direction: column; }
      .side-drawer.open .drawer-header .drawer-header-wrapper a {
        font-size: 30px;
        align-self: center; }
        .side-drawer.open .drawer-header .drawer-header-wrapper a img {
          margin: 0 auto;
          display: flex;
          width: 10%; }
      .side-drawer.open .drawer-header .drawer-header-wrapper p {
        text-align: center;
        color: #FFF; }

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  animation: left_to_right 5s ease; }

.side-drawer li:hover {
  margin: 0.5rem 0; }

.side-drawer a {
  text-decoration: none;
  font-size: 3.2rem;
  color: white;
  transition: all 0.2s ease 0s;
  font-family: Open sans-serif; }

.side-drawer a:hover,
.side-drawer a:active {
  color: #fa923f; }

@keyframes left_to_right {
  from {
    margin-left: -100%; }
  to {
    margin-left: 0; } }

@media (min-width: 769px) {
  .side-drawer {
    display: none; } }

@media (max-width: 768px) {
  .side-drawer a {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.2s ease 0s;
    font-family: Open sans-serif; } }
