.page3-container {
    // background-image: url('https://previews.123rf.com/images/netsay/netsay1602/netsay160217529/52465446-man-hand-writing-linguistics-with-black-marker-on-visual-screen-isolated-on-background-business-tech.jpg');
    // back

    // padding-top: 90px;
    // padding-bottom: 66px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    height: 100%;

    /* Center and scale the image nicely */
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;

    opacity: 1;
    position: relative;

    // position: fixed;
    // top: 50%;
    // left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    // z-index: -100;
    // transform: translate(-50%, -50%);

    
    #background-video {
        width: 100%;
        height: auto ;
    }
   
    .arrows-navigation {
        // position: absolute;
        position: fixed;
        top: 50%;

        width: 100%;
        display: flex;
        justify-content: space-between;

        .left-arrow {
            width: 5%;
            background-color: transparent;
            border: none;

            img {
                width: 100%;
                height: 50px;
            }
        }
        .right-arrow {
            width: 5%;
            background-color: transparent;
            border: none;
            
            img {
                width: 100%;
                height: 50px;
            }
        }
    }

}

@media(max-width: 768px) {
    .page3-container {

        .arrows-navigation {
            top: 60%;

            .left-arrow {
                width: 10%;
                position: relative;
                img {
                    width: 100%;
                    height: 50px;
                }
            }

            .right-arrow {
                width: 10%;
                // background-color: transparent;
                // border: none;
                position: relative;
                img {
                    width: 100%;
                    height: 50px;
                }
            }
        }
    }

}

@media(min-width: 320px) and (max-width: 767px) {
    .page3-container {

        .arrows-navigation {
            top: 80%;

            .left-arrow {
                width: 20%;
                position: relative;
                img {
                    width: 100%;
                    height: 50px;
                }
            }
            .right-arrow {
                width: 20%;
                position: relative;
                img {
                    width: 100%;
                    height: 50px;
                }
            }
        }

    }

}