.page3-container {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  /* Center and scale the image nicely */
  opacity: 1;
  position: relative;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto; }
  .page3-container #background-video {
    width: 100%;
    height: auto; }
  .page3-container .arrows-navigation {
    position: fixed;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .page3-container .arrows-navigation .left-arrow {
      width: 5%;
      background-color: transparent;
      border: none; }
      .page3-container .arrows-navigation .left-arrow img {
        width: 100%;
        height: 50px; }
    .page3-container .arrows-navigation .right-arrow {
      width: 5%;
      background-color: transparent;
      border: none; }
      .page3-container .arrows-navigation .right-arrow img {
        width: 100%;
        height: 50px; }

@media (max-width: 768px) {
  .page3-container .arrows-navigation {
    top: 60%; }
    .page3-container .arrows-navigation .left-arrow {
      width: 10%;
      position: relative; }
      .page3-container .arrows-navigation .left-arrow img {
        width: 100%;
        height: 50px; }
    .page3-container .arrows-navigation .right-arrow {
      width: 10%;
      position: relative; }
      .page3-container .arrows-navigation .right-arrow img {
        width: 100%;
        height: 50px; } }

@media (min-width: 320px) and (max-width: 767px) {
  .page3-container .arrows-navigation {
    top: 80%; }
    .page3-container .arrows-navigation .left-arrow {
      width: 20%;
      position: relative; }
      .page3-container .arrows-navigation .left-arrow img {
        width: 100%;
        height: 50px; }
    .page3-container .arrows-navigation .right-arrow {
      width: 20%;
      position: relative; }
      .page3-container .arrows-navigation .right-arrow img {
        width: 100%;
        height: 50px; } }
