.page1-container {
    // The landing page background image
    .home-banner {
      width: 100%;
      max-width: 1920px;
    }
}

@media(min-width: 320px) and (max-width: 767px) {
    .page1-container {
      .home-banner {
        visibility: hidden;
      }
      height: 75vh;
      background-image: url('https://res.cloudinary.com/dtf7zeh9v/image/upload/v1555968157/background_in_frontend/home-landing/mobile/home-landing-mobile.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      //background-color: green;
      background-position: center;
      //background-size: auto 100%;
    }
}
