.projects-container {
  padding-top: 3em;
  padding-bottom: 3em;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFF; }
  .projects-container h1 {
    text-align: center;
    font-family: Open sans-serif;
    text-decoration: underline;
    text-decoration-color: #CFB87C; }
  .projects-container .projects-wrapper {
    padding: 64px 2rem; }
    .projects-container .projects-wrapper .ui.cards > .card > .image .again:hover {
      animation: bounce 1s; }
    .projects-container .projects-wrapper .more-info {
      position: absolute;
      text-align: center; }
    .projects-container .projects-wrapper .ui.cards > .card .meta {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      text-overflow: ellipsis; }
      .projects-container .projects-wrapper .ui.cards > .card .meta span {
        position: relative;
        display: block;
        max-height: 7em;
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100%; }
      .projects-container .projects-wrapper .ui.cards > .card .meta span:hover {
        max-height: 100%; }
  .projects-container .project-about p {
    margin: 4em;
    width: 80%;
    border-left: 5px solid #CFB87C;
    background-color: #F6F6F6;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 1.5rem; }
  .projects-container .project-learn-more {
    text-align: center;
    padding-top: 3em; }
    .projects-container .project-learn-more .ui.teal.button {
      font-size: 1.5rem;
      border-radius: 25px;
      background-color: #000;
      display: inline-block;
      vertical-align: middle;
      transform: translateZ(0);
      -moz-osx-font-smoothing: grayscale;
      transition-duration: 0.3s;
      transition-property: transform;
      -moz-transition: all .2s ease-in;
      -o-transition: all .2s ease-in;
      -webkit-transition: all .2s ease-in;
      transition: all .2s ease-in; }
    .projects-container .project-learn-more .ui.teal.button:hover,
    .projects-container .project-learn-more .ui.teal.button:focus,
    .projects-container .project-learn-more .ui.teal.button:active {
      transform: scale(1.04);
      background-color: #565A5C; }

@media (min-width: 320px) and (max-width: 767px) {
  .projects-container .project-about p {
    margin-left: 0;
    width: 100%;
    font-size: 1.2em; } }

@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  40% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px); }
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); } }
