.events-page {
    height: 100%;

    .events-page-wrapper {
        width: 70%;
        margin: 0 auto;

        h1 {
            text-align: center;
            padding: 3rem;
            font-family: "Helvetica Neue", Helvetica;
        }
        h3 {
            font-size: 2rem;
            font-family: "Helvetica Neue", Helvetica;
            padding: 10px;
        }

        h4 {
            font-size: 1.4rem;
            font-family: "Helvetica Neue", Helvetica;
        }

        h5 {
            padding: 5px 20px;
            font-family: Arial,Helvetica,sans-serif;
            text-transform: uppercase;
            font-size: 1rem;
        }

    }

    .events-sections {
        text-align: center;
        padding: 5% 0;
    }
}

@media (min-width: 401px) and (max-width: 767px) {
    .events-page {


        .events-page-wrapper {
            h3 {
                font-size: 1.4rem;
                font-family: "Helvetica Neue", Helvetica;
            }

            h4 {
                font-size: 1rem;
                font-family: "Helvetica Neue", Helvetica;
            }

            h5 {
                font-family: Arial,Helvetica,sans-serif;
                text-transform: uppercase;
                font-size: 0.8rem;
            }
        }

        .events-sections {
            text-align: center;
            padding: 5% 0;

            .ui.menu .item {
                padding: .92857143em 1em;
            }
        }

    }

}


@media (min-width: 320px) and (max-width: 400px) {

    .events-page {
        .events-page-wrapper {
            h3 {
                font-size: 1.2rem;
                font-family: "Helvetica Neue", Helvetica;
            }

            h4 {
                font-size: 0.8rem;
                font-family: "Helvetica Neue", Helvetica;
            }

            h5 {
                font-family: Arial,Helvetica,sans-serif;
                text-transform: uppercase;
                font-size: 0.7rem;
            }
        }

        .events-sections {

            .ui.pagination.menu .item {
                min-width: 2em;
            }

            .ui.menu .item {
                padding: .92857143em 0.6em;
            }
        }
    }
}