.footer {
  background-color: #1a1a1a;
  color: #fff;
  position: relative;
  bottom: 0;
  overflow: hidden;
  width: 100%; }
  .footer .site-infor-wrapper {
    padding: 20px 0;
    width: 95%;
    margin: 0 auto; }
    .footer .site-infor-wrapper .site-info {
      display: flex; }
      .footer .site-infor-wrapper .site-info .site-info-content {
        width: 66.66%; }
        .footer .site-infor-wrapper .site-info .site-info-content .block-title {
          text-transform: none;
          color: #cfb87c;
          font-size: 110%;
          font-weight: 500; }
      .footer .site-infor-wrapper .site-info .cu-footer {
        width: 33.33%; }
        .footer .site-infor-wrapper .site-info .cu-footer img {
          max-width: 300px;
          width: 100%;
          height: auto; }
        .footer .site-infor-wrapper .site-info .cu-footer .cu-boulder-title {
          color: #cfb87c; }
        .footer .site-infor-wrapper .site-info .cu-footer span {
          display: flex;
          font-size: 85%; }
          .footer .site-infor-wrapper .site-info .cu-footer span a {
            color: #cfb87c; }
          .footer .site-infor-wrapper .site-info .cu-footer span li {
            padding-right: 10px; }
          .footer .site-infor-wrapper .site-info .cu-footer span li:first-child {
            list-style-type: none; }

@media (max-width: 768px) {
  .footer .site-infor-wrapper {
    width: 90%; }
    .footer .site-infor-wrapper .site-info {
      display: unset; }
      .footer .site-infor-wrapper .site-info .site-info-content {
        padding-bottom: 5%;
        width: 100%; }
        .footer .site-infor-wrapper .site-info .site-info-content p {
          padding-bottom: 5%; }
      .footer .site-infor-wrapper .site-info .cu-footer {
        width: 100%; }
        .footer .site-infor-wrapper .site-info .cu-footer span {
          display: flex;
          font-size: 85%; }
          .footer .site-infor-wrapper .site-info .cu-footer span li {
            padding-right: 5px; }
          .footer .site-infor-wrapper .site-info .cu-footer span li:first-child {
            list-style-type: none; } }
