.scheduler-page {
  height: 100%; }
  .scheduler-page .navbar-container {
    padding: 5% 0; }
  .scheduler-page .scheduler-list-page .rbc-calendar {
    min-height: 700px; }
  .scheduler-page .scheduler-list-page .finished {
    text-decoration: line-through;
    color: red; }
  .scheduler-page .scheduler-list-page i.icon {
    font-size: 20px;
    margin: 0 1rem; }
  .scheduler-page .scheduler-list-page .rbc-month-view {
    height: 700px; }
  .scheduler-page .error-msg {
    color: red; }
  .scheduler-page .schedulers-form .schedulers-form-container .schedulers-form-wrapper {
    width: 85%;
    margin: 0 auto; }
  .scheduler-page .schedulers-form .conform-btn {
    text-align: end; }
  .scheduler-page .visitor-scheduler-form .visitor-schedulers-form-container .visitor-schedulers-form-wrapper {
    width: 85%;
    margin: 0 auto; }
  .scheduler-page .visitor-scheduler-form .conform-btn {
    text-align: end; }
  .scheduler-page .react-datepicker__time-container {
    width: 80px; }
    .scheduler-page .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
      width: 80px; }

a {
  color: #FFFFFF; }

@media (min-width: 320px) and (max-width: 767px) {
  .scheduler-page .scheduler-list-page .rbc-btn-group {
    white-space: unset; }
  .scheduler-page .scheduler-list-page i.icon {
    font-size: 30px; }
  .scheduler-page .react-datepicker__time-container {
    width: 70px; }
    .scheduler-page .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
      width: 70px; }
  .scheduler-page .schedulers-form .schedulers-form-container .schedulers-form-wrapper {
    width: 90%;
    margin: 0 auto; } }
